name: Test

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        # Golden files can be inconsistent between different flutter versions.
        # Only support the latest one when diverge.
        flutter-version:
          - 2.0.3
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: ${{ matrix.flutter-version }}
      - run: flutter pub get
      - run: dart format --set-exit-if-changed .
      - run: flutter analyze
      - run: flutter test
      - uses: actions/upload-artifact@v2
        with:
          name: failures-${{ matrix.flutter-version }}
          path: test/failures
        if: ${{ failure() }}
